.menu {
    background: rgba(255, 211, 130, 0.7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 25px;
    padding: 15px;
    border-bottom: 2px solid black;
}

.menu-right {
    position: absolute;
    right: 50px;
}

.menu-left {
    font-weight: bold;
}

.menu-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.menu-right a:hover {
    color: black;
}

body {
    margin: 0;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.email {
    display: inline-block;
    margin-top: 80px;
}

.search {
    margin: auto;
    width: fit-content;
}

.banner {
    text-align: center;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: url(img/1.gif);
}

.banner-title {
    display: inline-block;
    margin-top: 300px;
    font-size: 50px;
    font-weight: 900;
}

.main-cards {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.main-header {
    text-align: center;
}

.hamster-card {
    border: 1px solid black;
    width: 25%;
    min-width: 250px;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0px rgba(248, 161, 0, 0.3);
}

.card-button {
    color: black !important;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    padding: 15px;
    display: block;
    width: fit-content;
    margin: auto;
    border-radius: 15px;
}

.card-button:hover {
    background-image: linear-gradient(0, #f1780aba 0%, #ffc00fa3 100%);
}

.footer {
    padding: 100px 15px;
    background: rgba(255, 211, 130);
}